@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

p,
div,
button,
h1 {
  font-family: "Open Sans", sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.margin {
  margin: 0 220px;
}
.list {
  display: flex;
  flex-wrap: wrap;
}

.marginBottom {
  margin-bottom: 10px;
}

.titleCharacterComics {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.picture {
  object-fit: cover;
  border-radius: 5px;
}

/* HEADER */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 5px;
  background-color: black;
}

.logo-marvel {
  height: 90px;
  margin-left: 220px;
}

.navigation {
  font-size: 30px;
  color: white;
}
.navigation:last-child {
  margin-right: 220px;
}

/* LIST OF CHARACTERS */

.characterBox {
  width: 270px;
  height: 400px;
  padding: 5px;
  background-color: black;
  border-radius: 5px;
  margin: 10px;
  color: white;
}

.favoritePicture {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.favoriteButton {
  border-radius: 5px;
  cursor: pointer;
}

/* LIST OF COMICS */

.comicsBox {
  width: 550px;
  height: 700px;
  padding: 5px;
  background-color: black;
  border-radius: 5px;
  margin: 10px;
  color: white;
}

/* SEARCHBAR */
.searchbar {
  width: 500px;
  height: 30px;
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 5px;
  background-color: black;
  color: white;
  margin-top: 30px;
}
